html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 64px;
  color: #000000;
}

.main {
  position: relative;
  padding: 65px 0 130px;
  background-image: url('image/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 200px);
}

.wrapper {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background: #AC1E25;
  padding: 10px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  height: 180px;
}

.title {
  padding: 0 5px;
  display: block;
  max-width: 820px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

.inner {
  padding-bottom: 85px;
}

.candidate__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.candidate__image {
  max-width: 175px;
  max-height: 214px;
}

.candidate__name {
  max-width: 630px;

}

.radio {
  margin-right: 60px;
  position: relative;
  width: 62px;
  height: 62px;
  border: 4px solid #000;
}

.radio-button {
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0;
  z-index: 1;
  opacity: 0;
}

.checkmark {

  width: 60px;
  height: 60px;
  background-color: inherit;
  position: absolute;
}

.radio-button:checked~.checkmark {
  background-position: center;
  background-image: url('image/pngwing.com.png');
  background-size: cover;
}

.vote__button {
  bottom: 130px;
  width: 626px;
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  padding: 22px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 36px;
  background-image: linear-gradient(#8D544C, #9D3A39, #AA2529);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}



.succes {
  max-width: 425px;
  margin: 0 auto;
}

.succes img {
  margin: 0 auto 30px;
}

.succes p {
  text-transform: uppercase;
  text-align: center;
}

.pepe {
  position: absolute;
  bottom: 0;
}




